.button {
    width: 100%;
}
h1, h3 {
    color: gray;
}
body {
    font-family:arial, sans-serif;
    color: #404040;
    width: 100%;
    height: 100%;
    margin:0px;
    overflow: hidden;
  }
  #excontainer {
    display:flex;
    align-items:center;
    justify-content:center;
}
  /* Bottom left text */
.exbottom-left {
    color: white;
    position: absolute;
    bottom: 15px;
    left: 15px;
}
#left {
    margin:0px;
    height:300px;
    width:300px;
}
#right {
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    margin:20px 20px 20px 20px;
    height:260px;
    width:260px;
}
.extitle {
    font-size:15px;
    font-weight:bold;
}